/* App.css */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  .App {
    flex: 1;
  }
  
  footer {
    margin-top: auto;
  }
  